<nav class="navbar">
    <ul>
      <li><a href="/api/sessions/" id="link-ingreso">Productos</a></li>
      <li><a href="/api/sessions/carts" id="link-incubadora">Carrito</a></li>
      
    </ul>
  </nav>
<main>
  {{#each products}}
  <div class="grilla">
    <div class="grilla-izquierda">
      <img src="/producto.png" alt="Imagen producto" class="imagen-producto">
    </div>

    <div class="separador"></div>

    <div class="contenido">
      <p><strong>Nombre:</strong> {{this.product.title}}</p>
    <p><strong>Precio:</strong> ${{this.product.price}}</p>
    <p><strong>Descripción:</strong> {{this.product.description}}</p>
    <p><strong>Categoría:</strong> {{this.product.category}}</p>
    <p><strong>Cantidad:</strong> {{this.quantity}}</p>
    <button class="btn-delete-product"
          data-product-id="{{this.product._id}}" > Borrar Producto</button>
    </div>
  </div>
  
  {{/each}}
</main>

<script src="/cart.js"></script>
<script src="/login.js"></script>